.admin-container {
  display: grid;
  grid-template-rows: 3.5rem auto;
}

.admin .list-row {
  grid-template-columns: repeat(7, minmax(75px, 125px));
}

.btn.delete{
  border: none;
  background: none;
}

.btn.delete:hover {
  outline: 1px solid lightgrey;
}

.btn.delete:active {
  transform: translateY(2px);
}

.btn.delete:focus {
  outline: none;
}

.class-list-container {
  display: grid;
  grid-template-rows: 3rem auto;
  margin-top: 3rem;
}

.class-list-grid {
  display: grid;
  grid-template-columns: 15rem 20rem;
  column-gap: 2rem;
}

.class-list-body .list-row {
  line-height: 1.75rem;
  grid-template-columns: repeat(2, minmax(75px, 125px));
}

.class-list-body .list-row form {
  text-align: right;
}


.icon-plus {
  margin-right: 0.25rem;
}

.classes-container,
.makes_container,
.types-container,
.new_vehicle_container {
  display: flex;
  justify-content: center;
}


.new_vehicle_form {
  display: flex;
  flex-direction: column;
  height: 21rem;
  margin-top: 3rem;
  width: 25rem;
  align-items: center;
  box-shadow: 0 3px 4px rgba(0 0 0 / 50%), 0 -3px 4px rgba(0 0 0 / 50%);
}

.new_vehicle_form header {
  height: 3rem;
    background: linear-gradient(90deg, transparent -10%, green);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.label_container {
  margin-bottom: 1rem;
}

.new_vehicle_label {
  display: grid;
  line-height: 1.75rem;
  grid-template-columns: 7rem 9rem;
  margin-bottom: .5rem;
}

.add_btn_container {
  width: 100%;
  position: relative;
}

.add_btn_container button {
  position: absolute;
  right: 1rem;
  height: 2rem;
}

.add_btn_container .icon-plus {
  margin-right: .5rem;
}

.admin_nav {
  display: flex;
  position: absolute;
  height: 2rem;
}

.nav_button {
  background: rgb(102, 102, 102);
  margin-right: 1rem;
  padding: 0 1rem .5rem 1rem;
}

.nav_button a {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nav_button a:visited {
  color: white;
}

.login-main {
  display: flex;
  justify-content: center;
}

.login-form {
  width: 30rem;
}

.login-error {
  color: red;
}

.registration-body.login {
  display: grid;
  gap: 1rem;
}

.form-footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.login-input-container {
  display: grid;
  grid-template-columns: 6rem auto;
  height: 1.8rem;
}

.login-input-container input {
  height: 1.4rem;
}

.login-input-container label {
  display: inline-flex;
  align-items: center;
}

.admin-footer {
  display: flex;
  border-top: 1px solid rgba(0 0 0 / 20%);
  box-shadow: 0 -3px 3px rgba(0 0 0 / 20%);
}

footer .site-map {
  text-align: left;
  margin-left: 2rem;
}

.copyright {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}